    body{
      color: #132933;
      font-family: sans-serif;
    }
    
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        
    }
    
      nav a:hover{
        background-color: #727272;  
      }
    
    header {
        text-align: center;
    }
      
    header img{
        border-radius: 20%;
    }  
    
    header h1{
        font-family: 'lobster', normal
    }
    
    h2{
      color: #ACE9DE;
    }
    
 section{
        text-align: center;
        background-image: url(http://payload175.cargocollective.com/1/8/282864/5815628/DSC_0631_1_o.jpg);
        height: 500px;
        background-size: cover;
    }
 
 button{
        color: #FFF;
        background-color: #F00;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin-top: 40px;
    }
p }
        background-color: yellow;
    }
